.carousel-indicators button[data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E0E0E0;
}

.carousel-indicators button[data-bs-target].active {
      border: 3px solid  #0D4DF1;
}

.carousel-indicators{
    align-items: center;
}
.carousel-item img{
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .carousel-item img{
        height: 30vh;
        object-fit: cover;
    }
}

.icon-penal svg{
    font-size: 50px;
    margin: auto;
}

.icon-penal.card{
    border: none;
}

.categories a, .swiper-wrapper a{
    color: black;
    text-decoration: none;
}
.me-auto.navbar-brand{
    width: 30%;
}